/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(248, 247, 247, 1.0);
}*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  width: 70%;
  /*border: 1px dashed red;*/

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

label{
  margin-left: 10px;

}

.btn{
  background-color: rgba(237, 81, 66, 1.0);
}


header {
	border-bottom: 1px solid black;
	max-height: 120px;
	width: 100%;
	background-color: rgba(248, 247, 247, 1.0);
}

header nav h1 a {
	text-decoration: none;
	color: rgba(237, 81, 66, 1.0);
}

header nav h1 {
	float: left;
	font-family: 'Rouge Script', cursive;
	position: relative;
	z-index: 2;
	margin-left: -180px;
	margin-top: 25px;
	font-size: 4.5em;
	color: rgba(237, 81, 66, 1.0);
}

header nav h1 a:hover {
	color: rgba(176, 59, 48, 1.0);
}

header nav h1 a:visited {
	color: rgba(237, 81, 66, 1.0);
}

nav {
	display: inline-block;
	position: relative;
	width: 90%;
	max-height: 120px;
	margin-left: 5%;
}

nav img {
	float: left;
	max-height: 120px;
	z-index: 1;
	opacity: .3;
}

header nav .picture-upload {
	float: left;
	position: relative;
	margin-top: 40px;
	margin-left: 300px;
}

header nav .picture-upload input {
	background-color: rgba(237, 81, 66, 1.0);
	border: 1px solid rgba(176, 59, 48, 1.0);
	color: rgba(255, 255, 255, 1.0);
	width: 150px;
	height: 34px;
}

header nav .user-login {
	float: right;
	margin: 40px 30px 30px 30px;
}

header nav .user-login input {
	background-color: rgba(237, 81, 66, 1.0);
	border: 1px solid rgba(176, 59, 48, 1.0);
	color: rgba(255, 255, 255, 1.0);
	width: 150px;
	height: 34px;
}

.btn:hover{
  background-color: rgba(176, 59, 48, 1.0);
}



