<div class='container'>
    <form class="form-signin" role="form"  method='post' action='/photos' enctype="multipart/form-data" >
    <input class="form-control" type='file' name='url'>
    <textarea class="form-control" name="description" cols="60" rows="6" placeholder='Description'></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
  </form>
</div>
