<div class='upload'>
  <form action='/photos' method='post' enctype="multipart/form-data">
    <input type='file' name='url'>
    <textarea name="description" cols="60" rows="6" placeholder='Description'></textarea>
    <input type='submit' value='Upload'>
  </form>
</div>