
<% unless @photos.empty? %>
<div id="links" class='content'>
  <% @photos.each do |photo| %>
  <a href="<%= photo.url %>" title="<%= photo.description %>" data-gallery>
    <img class="image" src="<%= photo.url %>" width="300px">
  </a>
  <% end %>
</div>
<% end %>
