<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      normalize.css removes cross-browser differences in defaults, e.g.,
      differences in how form elements appear between Firefox and IE
      See: http://necolas.github.com/normalize.css/
    -->
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href='http://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title>DBC Ink</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="/imgs/logo.png" alt="Dev Bootcamp Logo" width="270" height="130">
        <h1 style='text-align: center'><a href="">Ink</a></h1>
        <div class="picture-upload">
        <% if session[:user_id] != nil %>
          <form id="uploader" action="/photos/new" method="get">
            <input type='submit' value="Upload a Picture">
          </form>
          <% end %>
        </div>
        <div class="user-login">
          <% if session[:user_id] %>
            <form id='logout' action='/logout' method='get'>
              <input type='submit' value='Log out'>
            </form>
          <% else %>
            <form id="login" action="/users/new" method="get">
              <input type="submit" value="Login">
            </form>
          <% end %>
        </div>
      </nav>
  </header>
    <!-- <div class='container'> -->
      <%= yield %>
    <!-- </div> -->
  </body>
</html>
